{% extends 'index.html' %}
{% block content %}
    <!-- YouTube Link Form Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Youtube Link</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.3s">
                    <form id="youtube_url_form" method="POST">
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input class="form-control" placeholder="Paste your youtube video link" id="yt_link"
                                        style="height: 54px" required></input>
                                    <label for="yt_link">Paste your video link here</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Download</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- YouTube Link Form End -->
    <div class="downloads">
        <div class="main">
            <div class="youtube_modal" , id="youtube_modal">
            </div>
            <br>

            <div class="downloads" id="youtube_description">
            </div>
        </div>
    </div>
    <script>

        $("#youtube_url_form").on("submit", function (e) {
            $('#loader').removeClass('hidden')
            e.preventDefault();
            if ($("#yt_link").val()) {
                let link_regex = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
                if (!link_regex.test($("#yt_link").val())) {
                    $('#loader').addClass('hidden')
                    Swal.fire({
                        title: "Enter correct youtube url.",
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                    }).then((result) => {
                        location.reload();
                    })
                } else {
                    $.ajax({
                        type: "POST",
                        url: `{{ URL }}`,
                        data: { "yt_link": $("#yt_link").val() },
                        success: function (data) {
                            $('#loader').addClass('hidden')
                            console.log(data.success, data.video_data.title);
                            if (data.success) {
                                $("#youtube_modal").append(
                                    `
                                         <div class="downloadbox">
                                            <div class="img-thumb">
                                                <img class="img-responsive" src="${data.video_data.thumb}">
                                            </div>
                                            <div id="desl" class="v-about">
                                                <p class="v-title">${data.video_data.title}</p>
                                                <section class="infos">
                                                    <li>Duration <b>${data.video_data.duration}</b></li>
                                                    <li>Views <b>${data.video_data.views}</b></li>
                                                    <li>Likes <b>${data.video_data.likes}</b></li>
                                                    <li>Dislikes <b>${data.video_data.dislikes}</b</li>
                                                </section>
                                            </div>
                                         </div>
                                      `
                                );

                                data.video_data.streams.forEach((stream, i) => {
                                    $("#youtube_description").append(
                                        `
                                                <table>
                                                    <tr>
                                                        <th scope="col">Resolution</th>
                                                        <th scope="col">File Size</th>
                                                        <th scope="col">Extension</th>
                                                        <th scope="col">Download</th>
                                                    </tr>
                                                    <tr>
                                                      <tr>
                                                        <td>${stream.resolution}</td>
                                                        <td>${stream.file_size}</td>
                                                        <td>${stream.extension}</td>
                                                        <td><a href="${stream.video_url}" style="text-decoration: none;"
                                                               download="${data.video_data.title}.{{ extension }}" target="_blank">Download <i
                                                                class=" fa fa-download"></i></a></td>
                                                      </tr>
                                                     </tr>
                                                 </table>
                                            `
                                    )

                                })

                            }
                        },
                        failure: function (err) {
                            $('#loader').addClass('hidden')
                            Swal.fire({
                                title: err,
                                icon: 'error',
                                confirmButtonColor: '#3085d6',
                            }).then((result) => {
                                location.reload();
                            })
                        },
                    });
                }
            }
        })
    </script>
{% endblock content %}